@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <img src="~/images/WelcomePage1.jpg" alt="=" Header Image" class="img-top">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
    <p>Welcome to KhumaloCraft LTD wheer we connect artists worldwide making a dream a reality!</p>

    <img src="~/images/WelcomePage2.jpg" alt="="Header Image" class = "img-fluid" >
</div>
