
@{
    ViewData["Title"] = "MyWork";
}

<h1>My Work</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/images/Bag.jpg" class="card-img-top" alt="Craftwork 1" />
            <div class="card-body">
                <h5 class="card-title">Leather Bag</h5>
                <p class="card-text">Price: R1500</p>
        </div>

    </div>
</div>
    
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/Wallet.jpg" class="card-img-top" alt="Craftwork 2" />
                <div class="card-body">
                    <h5 class="card-title">Leather Wallet</h5>
                    <p class="card-text">Price: R500</p>
                </div>

            </div>
        </div>
   
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/Accessory.jpg" class="card-img-top" alt="Craftwork 3" />
                <div class="card-body">
                    <h5 class="card-title">Leather Accessory</h5>
                    <p class="card-text">Price: R450</p>
                </div>

            </div>
        </div>
